name = "FMIImport"
uuid = "9fcbc62e-52a0-44e9-a616-1359a0008194"
authors = ["TT <tobias.thummerer@informatik.uni-augsburg.de>", "LM <lars.mikelsons@informatik.uni-augsburg.de>", "JK <josef.kircher@student.uni-augsburg.de>"]
version = "0.15.2"

[deps]
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
EzXML = "8f5d6c58-4d21-5cfd-889c-e3ad7ee6a615"
FMICore = "8af89139-c281-408e-bce2-3005eb87462f"
ForwardDiffChainRules = "c9556dd2-1aed-4cfe-8560-1557cf593001"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
SciMLSensitivity = "1ed8b502-d754-442c-8d5d-10ac956f44a1"
ZipFile = "a5390f91-8eb1-5f08-bee0-b1d1ffed6cea"

[compat]
ChainRulesCore = "1.15.0"
EzXML = "1.1.0"
FMICore = "0.16.0"
ForwardDiffChainRules = "0.1.1"
SciMLSensitivity = "7.19.0"
ZipFile = "0.10.0"
julia = "1.6"
